version: '3.8'

services:
  # --- API DE PRODUÇÃO (Porta 3000) ---
  api-prod:
    container_name: api-prod
    build: .
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DB_NAME='bdhd'
      - DB_USER='freela_owner'
      - DB_PASSWORD='npg_Xcb2WhL4HsKf'
      - DB_HOST='ep-old-bird-a5y22y5j-pooler.us-east-2.aws.neon.tech'
    ports:
      - "3000:3000"

  # --- API DE HOMOLOGAÇÃO/DEV (Porta 3001) ---
  api-dev:
    container_name: api-dev
    build: .
    restart: always
    environment:
      - NODE_ENV=development
      - PORT=3000 # O Nest dentro do container acha que é 3000
      - DB_USER='freela_owner'
      - DB_PASSWORD='npg_Xcb2WhL4HsKf'
      - DB_HOST='ep-old-bird-a5y22y5j-pooler.us-east-2.aws.neon.tech'
    ports:
      - "3001:3000" # Mapeia a porta 3001 externa para a 3000 interna