version: '3.8'

services:
  #Prod
  api-prod:
    container_name: api-prod
    build: .
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DB_NAME=${DB_DATABASE_PROD}
      - DB_USER=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
    ports:
      - "3000:3000"

  # Dev
  api-dev:
    container_name: api-dev
    build: .
    restart: always
    environment:
      - NODE_ENV=development
      - PORT=3000
      - DB_NAME=${DB_DATABASE_DEV}
      - DB_USER=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
    ports:
      - "3001:3000"