name: CI/CD Multi-Ambiente AWS

on:
  push:
    branches:
      - dev    # Homologação
      - master   # Produção

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    # 1. DEFINE O ENVIRONMENT COM BASE NA BRANCH
    environment: 
      # Condição ternária para escolher o nome do ambiente:
      name: ${{ github.ref == 'refs/heads/master' && 'prod' || 'dev' }}
      
    # Configuração de segurança OIDC
    permissions:
      id-token: write 
      contents: read

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4
        
      # 2. Configura Credenciais AWS
      - name: Configurar Credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          # Acessa o secret AWS_ROLE_ARN DO AMBIENTE ESCOLHIDO
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
          
      # 3. Passo de Deploy
      - name: Deploy
        run: |
          echo "Iniciando deploy para o ambiente ${{ vars.ENVIRONMENT_NAME }}..."
          # ... seus comandos de deploy





# name: 'Automatic Flow'

# on: push

# jobs:
#     build:
#         runs-on: ubuntu-latest
#         steps:
#             - uses: actions/checkout@v3
#             - name: Using Node.js
#               uses: actions/setup-node@v2
#               with:
#                   node-version: 20.x
#             - name: Install & Build
#               run: |
#                   npm init